label{
    color:rgb(127, 7, 143);
    font-size: large;
    
}
input {
    background-color: rgb(198, 238, 198);
    color: rgb(90, 4, 90);
}
.heads{
    color: blue;
}
div{
    padding-left: 474px;
    color: rgb(21 161 110);
    
}