* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, X-LocaleSpecific, sans-serif;
}

/* Header */

header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  height: 65px;
}

header img {
  height: 32px;
  margin-left: 100px;
}

nav {
  display: flex;
  margin-left: 30px;
}

nav button {
  font-weight: 700;
  font-size: 19px;
  border: 0;
  background-color: white;
  margin: 0px 20px;
  cursor: pointer;
}

nav button:hover {
  border-bottom: 3px solid black;
}
.download {
  height: 35px;
  width: 162px;
  background-color: white;
  color: #0060df;
  border: 3px solid #0060df;
  border-radius: 5px;
  margin-left: 244px;
}
.download:hover {
  background-color: #0060df;
  color: white;
  border: 3px solid white;
}

/* Container 1 */
.container1 {
  display: flex;
  margin-top: 94px;
}
/* C1 Left */
.container1 .left {
  width: 50%;
  padding: 129px 57px;
}

.container1 .left h1 {
  font-size: 66px;
  margin-bottom: 34px;
}
.container1 .left p {
  font-size: 22px;
  line-height: 1.5;
}
.container1 .left button p {
  font-size: 16px;
}
.container1 .left button {
  width: 201px;
  height: 44px;
  background-color: #e7132f;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 35px;
}
.container1 .left button:hover {
  background-color: #b80f25;
  cursor: pointer;
}
/* C1 Right */
.container1 .right {
  width: 50%;
}
.container1 .right img {
  width: 600px;
  height: auto;
}
/* Container 2 */

.container2 {
  margin-top: 94px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container2 .left img {
  height: 548px;
  width: 548px;
}
.container2 .right h1 {
  font-size: 48px;
  font-family: Zilla Slab, Inter, X-LocaleSpecific, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
.container2 .right p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
