* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

header {
  max-width: 1360px;
}

.top-line {
  height: 10px;
  width: 100%;
  background-color: rgba(0, 99, 65, 1);
}

.logo {
  height: 62px;
  margin: 20px 38px;
  cursor: pointer;
}

.find-store {
  float: right;
  border: 0;
  background-color: transparent;
  margin: 15px 30px;
  color: #5b5959;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.find-store img {
  height: 27px;
}

.find-store p {
  font-size: 15px;
}

nav {
  display: flex;
  margin: 0px 15px;
  margin-top: 13px;
  margin-bottom: 8px;
  justify-content: space-evenly;
}
.nav-button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  color: rgb(36, 34, 33);
}
article div {
  height: 560px;
  background-position: top center;
  background-repeat: no-repeat;
}
.ctr1 {
  background-image: url(ctr1.jpg);
}
.ctr2 {
  background-image: url(ctr2.jpg);
}
.ctr3 {
  background-image: url(ctr3.jpg);
}
.ctr4 {
  background-image: url(ctr4.png);
}
.ctr5 {
  background-image: url(ctr5.png);
  cursor: pointer;
}
.ctr6 {
  background-image: url(ctr6.jpg);
  cursor: pointer;
}
.ctr7,
.ctr8 {
  margin-top: 20px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ctr7 .text,
.ctr8 .text {
  height: auto;
  display: inline-block;
}
.ctr8{
  margin-bottom: 35px;
}
.ctr7 h1,
.ctr8 h1 {
  margin-bottom: 21px;
}

.footer-top {
  padding-left: 33px;
  background-color: #f0f0f0;
}
.footer-top div {
  display: inline-block;
  margin: 0 10px;

  
}
.footer-top img{
  height: 30px;
 cursor: pointer;
}
.footer-content{
  margin-top: 111px;
}
.block1, .block2, .block3{
  display: inline-block;
  width: 220px;
  height: auto;
  text-align: center;
}
.footer-content a{
  margin: 50px;
}
.footer-content a:link, a:visited{
  color: #3d3935;
  text-decoration: none;
  cursor: pointer;
}
.footer-content a:hover, a:active{
  
}