body{
    margin: 0%;
    background-color: black;
}
.root{
    height: 100%;
    width: 100%;
    float: left;
}
.head-main{
    width: 100%;
    height: 56px;
    background-color: rgb(32, 4, 49);
    margin: 0;
    float: left;
}
.head-bar{
    width: 84.7%;
    height: 56px;
    background-color: rgb(31, 3, 3);
    margin: 0;
    float: left;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.left-section{
    width: 15%;
    height: 595px;
    background-color: rgb(48, 33, 33);
    margin: 0;
    float: left;
}
.content{
    width: 84.7%;
    height: 642px;
    background-color: rgb(90, 26, 26);
    margin: 0;
    float: left;
}
.head-left{
    width: 15%;
    height: 100%;
    float: left;
    background-color: rgb(53, 67, 80);
}
.head-center{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 200px;
    background-color: rgb(81, 95, 95);
}
.head-right{
    width: 15%;
    height: 100%;
    float: right;
    background-color: rgb(54, 70, 59);
}
.bar-bubble-n{
    width: max-content;
    height: min-content;
    background-color: rgb(13, 58, 58);
}
.bubble-n{
    height: 33px;
    border-radius: 14px;
    border: 0 solid;
    font-size: 18px;
    
}
.left-container{
    width: 100%;
    height: fit-content;
    min-height: 47px;
    border-bottom:1px solid #bdceb6;
}
.left-container-row{
    height: 47px;
    width: 100%;
    background-color: #1b3a0e;
    border: 1px solid black;
}